#background {
    background-color:#b5b5dd;
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  width: 70%;
  background-color: #dddddd;
  padding: 1px 20px;
  padding-bottom:10px;
}

#pic {
    width: 200px;
    height: 200px;
    float:right;
    margin-top: 20px;
    margin-left:20px;
}

.button {
    width:100px;
    padding: 10px 20px;
    background-color: #555577;
    margin-right: 10px;
    color:white;
    text-align:center;
    font-size:16px;
    display:inline-block;
    align-self: center;
}

#greeting-container {
  margin-top: 20px;
}

#board{
    width: 600px;
    height: 600px;
    margin:10px auto;
    border:10px solid black;
    font-size: 0px;
}

.white-square {
    width:12.5%;
    height:12.5%;
    background-color: white;
    display:inline-block;
    border:none;
}

.black-square {
    width:12.5%;
    height:12.5%;
    background-color:gray;
    display:inline-block;
    border:none;
}

.piece-element {
    width:75px;
    height:75px;
    position:absolute;
    background: transparent;
    pointer-events: none;
}

#turn-tracker-container{
    margin-top: 20px;
}

#feature-container{
    margin-top: 40px;
}
